[2019-11-11 11:03] jcsoriano opened #7 "Can this work in an SPA?"
Hi, thank you for this package! Looks really good!

Just a question - can this work in an SPA? Is there any way we can render the trix markup using javascript instead of using the blade `@trix` directive?

[2019-11-11 11:08] Te7a-Houdini commented on #7
hey

i think there's a way  like this [Test Case](https://github.com/Te7a-Houdini/laravel-trix/blob/master/tests/Unit/LaravelTrixTest.php#L12)

[code]

[2019-11-13 16:07] DmitryNeposidjaka opened #8 "A model don`t see trix fields"
It is doesn't work from scratch!
Here is my model:
![image](https://user-images.githubusercontent.com/13102394/68781650-c3bf7700-0640-11ea-943b-f12f75bddc94.png)

Here is my form:

![image](https://user-images.githubusercontent.com/13102394/68781678-cde17580-0640-11ea-972f-3130e76851d4.png)

Post::create(request()->all());
I am getting an error that says the content field doesn`t have a default va

[2019-11-13 16:35] Te7a-Houdini commented on #8
i think cause you have a content field in posts table that is not null .

so my suggestion would be :

- remove the `$fillable` array from Post model .

- try to use `@trix(\App\Post::class, 'description)`

and check if this solved the issue

[2019-11-25 12:53] abrhambas01 opened #9 "Uncaught DOMException: Failed to execute 'define' on 'CustomElementRegistry'"
Is it because I have vue-trix installed on npm ? should I remove any instance of vue-trix in my app ?

[2019-11-25 13:02] Te7a-Houdini commented on #9
@abrhambas01 try to remove vue-trix and check if it fixed the issue

[2019-11-25 13:16] abrhambas01 commented on #9
in the `package.json` file or just in the bootstrap.js or in the entry js file ?

[2019-11-25 13:22] Te7a-Houdini commented on #9
@abrhambas01 in package.json file . also check [how to remove an npm package from here](https://stackoverflow.com/questions/13066532/how-to-uninstall-npm-modules-in-node-js)

[2019-11-25 13:24] abrhambas01 commented on #9
I am using yarn so just yarn install probably would do

[2019-11-25 14:01] #9 closed

[2019-11-27 14:29] abrhambas01 opened #10 "Templates should only be responsible for mapping the state to the UI inside inline-template ?"
[Vue warn]: Error compiling template:

Templates should only be responsible for mapping the state to the UI. Avoid placing tags with side-effects in your templates, such as <style>, as they will not be parsed.,

Is it because I'm using it inside an inline-template ? does that probably make this error show?

[2019-11-27 18:26] goatatwork commented on #10
Seeing the same thing here. With an additional couple of messages..

[code]

I just started troubleshooting this after installing it for the first time, so I haven't figured much out yet. At first glance, I see no interaction between the package and vue components other than these Vue warnings.  Hopefully those errors will help.

[2019-11-27 18:52] Te7a-Houdini commented on #10
@abrhambas01 @goatatwork  can you try to wrap the trix rendring code with a dive element that contains [v-pre](https://vuejs.org/v2/api/#v-pre)

<div v-pre>
   //your trix code
</div>

[2019-11-27 19:13] goatatwork commented on #10
Thank you for your work, @Te7a-Houdini
When I tried that, the `Unknown custom element` messages went away, but the error that I was getting, that @abrhambas01 originally reported, remains.

[code]

and then a dump of the HTML, starting with my newly modified `<div v-pre="">`

[2019-11-27 21:18] Te7a-Houdini commented on #10
@goatatwork after tracing the issue . i found that current implementation won't work with vue js as ```<style>``` can't be used inside vue js template .

so if you wanted to use the configurations like ```hideTools``` it won't work . only what will work is the default @trix without any configuration passed.

[2019-11-28 00:24] abrhambas01 commented on #10
@Te7a-Houdini ,Mine's not using rendering code but just something like this
[code]

[2019-11-28 00:25] abrhambas01 commented on #10
Yeah I think that's probably the reason. using it inside an inline-template could be the issue as inline templates don't want you to put the styles inside the span

[2019-11-28 02:50] abrhambas01 opened #11 "Vue Warn Error Unknown Custom element"
I didn't know that that this package uses vue's component style of formatting, so many warnings & bugs inside this package, I thought it's not using vue's way of like formatting since it would throw away lots of errors and warnings inside the whole package.

![image](https://user-images.githubusercontent.com/12043306/69773080-cab3c100-11cc-11ea-8da8-fad58c9807c9.png)

So I have 2 install `trix-edi

[2019-11-28 10:02] zeshan77 commented on #10
I get the exact same error + the toolbar is non-functional. Does anyone solve this?

Thanks

[2019-11-28 10:14] Te7a-Houdini commented on #10
@zeshan77 not yet i will try to work on a solution once i got time . if you have any thoughts to tackle it i would like to hear it out

[2019-11-28 10:16] abrhambas01 commented on #10
ok, I'm quite busy with the project that I am into but I will devote some time to find solutions for it

[2019-11-28 10:24] Te7a-Houdini commented on #10
@abrhambas01 thanks a lot much appreciated :+1:

[2019-11-28 10:50] zeshan77 commented on #10
So I managed to get rid of the Vue error
'Templates should only be responsible'
however the toolbar is still non-functional, it looks to be disabled.

Any rough idea what could be the reason? @Te7a-Houdini  @abrhambas01

[2019-11-28 11:13] Te7a-Houdini commented on #10
@zeshan77 can you post what have you done to get rid of it . cause the main problem is that vue js won't parse any ```<style>``` tag inside the components for example this

[code]

and since laravel-trix outputs ```<style>``` tag then the configuration won't work .

[2019-11-28 12:51] zeshan77 commented on #10
True, that was the problem. As I'm using trix editor inside Root vue component, so vue complains about the `<style>` tag. In my case, as I'm not using any custom styling, so I just commented out the following line in `Pipes->Styles.php`:

[code]

I understand that it's a hack rather than a proper solution, I'll look into a proper solution at some point later once all the problems get resolved.

Th

[2019-12-01 18:15] #8 closed

[2019-12-01 18:15] #7 closed

[2019-12-01 18:34] #10 closed

[2019-12-01 18:38] #11 closed

[2019-12-01 18:40] Te7a-Houdini commented on #10
Thanks for your collaboration @zeshan77 @abrhambas01 @goatatwork .  i have released a new version which fixes vue js integration issues . just execute this command and everything should work fine **composer update te7a-houdini/laravel-trix**

[2019-12-02 03:49] abrhambas01 commented on #10
Oh Hey man, sorry I wasn't able to pay attention to your package as I was choosing a different trix-editor to work on since I need 2 deliver a software as fast as possible right now, but I will make sure to test out this package in my future projects, God speed to this project

[2019-12-02 16:32] goatatwork commented on #10
@Te7a-Houdini, thank you for your work on this. I did the `composer update te7a-houdini/laravel-trix`. After that, I no longer get errors in the inspector. Yay.

The only remaining issue, which I can create a new issue for, if that's helpful, is that the toolbar seems to be not enabled, not attached to the textarea, or just generally not doing it's thing, formatting text. I am trying to get the ex

[2019-12-02 16:34] Te7a-Houdini commented on #10
@goatatwork got it . working on it right now

[2019-12-02 16:56] Te7a-Houdini commented on #10
@goatatwork after a quick search i found that it's an issue from trix editor [#406](https://github.com/basecamp/trix/issues/406) .

but a quick solution for it is to wrap ```@trix``` directive into ```<template>``` tag like this

[code]

[2019-12-02 19:29] goatatwork commented on #10
Thanks again @Te7a-Houdini

That seems to have done it. Things look pretty happy right now! Thank you.

[2019-12-03 06:05] abrhambas01 opened #13 "how do you bind things with vue.js"
How do you bind elements w/ integrating to  vue.js such as
```v-model="form.full_details"```
? or is this fully featured for laravel only ?

[2019-12-13 07:01] #13 closed

[2019-12-13 10:58] piotrgulbis opened #14 "Only retrieve the html without the editor."
It's not apparent from the documentation how I can then display the model's trix content without the editor.

[2019-12-13 11:02] Te7a-Houdini commented on #14
i think you can do something like this

[code]

also you can check [HasTrixRichText Trait for other methods](https://github.com/Te7a-Houdini/laravel-trix/blob/master/src/Traits/HasTrixRichText.php)

[2019-12-13 11:12] piotrgulbis commented on #14
Thanks for your reply!

Unfortunately this doesn't return exactly what I need...

        @foreach($posts as $post)
          <div class="flex flex-col w-1/3 m-3">
            <div>{{ $post->created_at }}</div>
            <div>{{ $post->title }}</div>
            <div>{{ $post->trixRichText()->where('field', 'content')->first() }}</div>
          </div>
        @endforeach

This returns the follo

[2019-12-13 11:15] piotrgulbis commented on #14
Okay I think I've got it.

    <div>{{ $post->trixRichText()->where('field', 'content')->first()->content }}</div>

...did the trick!

Thank you!

[2019-12-13 11:15] #14 closed

[2019-12-16 15:35] phuongphally opened #16 "Render not working all methods"
[code]

[2019-12-16 15:37] phuongphally commented on #16
I use form share --create --and -- update

[code]

[2019-12-16 16:06] Te7a-Houdini commented on #16
@phuongphally have you put ```@trixassets``` in the header ?

[2019-12-17 00:44] phuongphally commented on #16
I already used

[2019-12-17 09:23] Te7a-Houdini commented on #16
@phuongphally ok so is trix editor isn't showing at all . or only not showing when you use model object ```$advertise``` ?

[2019-12-18 01:37] phuongphally commented on #16
It show when create screen. And not show when update screen

[2019-12-18 05:18] Te7a-Houdini commented on #16
@phuongphally can you try to use another $model object . or if you are using vue js then you will need to do this
[code]

i will close this issue since it's not a bug with the package . and possible something related to the application logic .

Thanks

[2019-12-18 05:18] #16 closed

[2019-12-19 22:16] mark-emery opened #18 "Install issues with Laravel versions"
First attempt to install was with Laravel V6.6.2, didn't like that version so I upgraded to V6.8.0, the current version on 20-Dec-2019.

Still didn't like  Laravel version V6.8.0 which also appears in the list of versions it requires.

 Problem 1
    - Installation request for te7a-houdini/laravel-trix ^1.1 -> satisfiable by te7a-houdini/laravel-trix[1.1.0].
    - Conclusion: remove illuminate/con

[2019-12-19 22:22] Te7a-Houdini commented on #18
@mark-emery this is weird cause on fresh installation everything works perfectly. so can you post your composer.json file

![Screenshot from 2019-12-20 00-21-26](https://user-images.githubusercontent.com/17250137/71214814-c310a500-22be-11ea-8e13-1de53d6edf14.png)
![Screenshot from 2019-12-20 00-19-01](https://user-images.githubusercontent.com/17250137/71214815-c3a93b80-22be-11ea-9f9c-93e896bb1d09.

[2019-12-19 23:35] Te7a-Houdini commented on #18
@mark-emery no worries :+1:

[2019-12-19 23:35] #18 closed

[2019-12-21 09:26] akhzarjaved1993 opened #19 "How to show content without the editor look"
Hi,
I am not able to show only the html content on a page.
using
[code]
Still generates the editor.
![image](https://user-images.githubusercontent.com/50201631/71306071-d2e2d300-23fd-11ea-8cb6-6bc2e89b80a8.png)

How to just show html content.. ?

[2019-12-21 09:29] akhzarjaved1993 commented on #19
This issue is duplicate of #14
Closing it.

[2019-12-21 09:29] #19 closed

[2019-12-26 06:26] abrhambas01 opened #20 "Help me clear my confusion about storing fields in the controller"
I have a confusion with the readme , how do I store what's inside the controller ?

[code]

[code]

[2019-12-26 06:59] Te7a-Houdini commented on #20
will be like this and **HasTrixRichText** trait must be used inside Project model

[code]

also you can debug what's in the request by doing this in your controller

[code]

[2019-12-26 09:23] abrhambas01 commented on #20
[code]
Alright so I can do it like `request()->input('project-trixFields.project_description');` ?

[2019-12-26 09:26] abrhambas01 commented on #20
In the `trix_rich_texts` table, Do I expect a data to be entered after a successful entry..

[2020-01-06 09:56] filipdak opened #21 "How to load content from db to trix, to edit existing content?"
Hello,
Everything works fine, but cant figure out one think - how to load content to trix editor?
I made in app option to create and edit article content. For example here I geting passed to view title:
`<input type="text" id='title' name='title' value="{{$article->title}}"></br>`

But how load title to trix, to have chance to edit it using wysiwyg?
`    @trix(\App\Article::class, 'title')`

[2020-01-06 10:12] Te7a-Houdini commented on #21
@filipdak  check [Render Existing Model Docs](https://github.com/Te7a-Houdini/laravel-trix#render-trix-for-existing-model)

[2020-01-06 10:21] filipdak commented on #21
Thanks for quick anserw, but still one thing -  render methods loads content from db table trix_ritch_texts? In my case render methods show only wysiwyg editor but no content included - i think the problem is that my articles are stored only in articles table and trix_ritch_texts is still empty.

[2020-01-06 10:29] Te7a-Houdini commented on #21
@filipdak i think this is the reason . maybe i will try to implement a feature to solve this problem but for current time i have two thoughts on that .

- first you can move the content of articles table to trix_rich_texts table .

- second you can abandon trix package for now till i figure something that only renders text if it's not from DB

[2020-01-14 04:15] dvlpr91 opened #22 "IE 11 not supported"
error occured

...
for (var tag of laravelTrixInstanceStyles) {
...

what the for ... of

[2020-01-14 04:36] dvlpr91 commented on #22
te7a-houdini/laravel-trix/resources/views/trixassets.blade.php

for (var tag of laravelTrixInstanceStyles) {
to
for (var tag in laravelTrixInstanceStyles) {

[2020-01-30 08:08] akhzarjaved1993 opened #23 "Array to string error"
When updating the modal, i get error about array to string conversion error

![image](https://user-images.githubusercontent.com/50201631/73431144-84601700-4361-11ea-987e-e3ff87d42d7c.png)

![image](https://user-images.githubusercontent.com/50201631/73431018-38ad6d80-4361-11ea-84ba-76e5dea599dd.png)

![image](https://user-images.githubusercontent.com/50201631/73431160-96da5080-4361-11ea-8f76-4c7c95

[2020-01-30 08:32] akhzarjaved1993 commented on #23
### Solution
It only worked for me while updating if i first get modal object into variable and then update it
![image](https://user-images.githubusercontent.com/50201631/73432453-97c0b180-4364-11ea-85f6-8d7675eaf005.png)

[2020-01-30 08:32] #23 closed

[2020-02-26 14:34] leifermendez commented on #21
This work for me!, in my blade file
[code]

[2020-02-27 02:49] Te7a-Houdini commented on #21
@leifermendez thanks for sharing

[2020-03-01 05:50] henryonsoftware opened #24 "How can we render stored content to view?"
I tried this package on Laravel 5.8 but I cannot render content to view.

I tried these methods but it showed an editor with stored content inside:
[code]
What I want is show text only, not show editable editor.

[2020-03-01 10:25] Te7a-Houdini commented on #24
@henryonsoftware i think you can do this $post->content . as long as you don't want to show editor .

[2020-03-02 03:01] henryonsoftware commented on #24
Thanks for reply, you are so fast.
I tried but not work!
I think `content` field does not have in Post table, you only can get it by use Trix instance.
You should write the full document (if possible)

[2020-03-02 16:20] Te7a-Houdini commented on #24
@henryonsoftware yes you are right :+1: . feel free to PR this .

[2020-03-02 16:20] #24 closed

[2020-03-04 05:00] Te7a-Houdini commented on #22
fixed in v2

[2020-03-05 09:29] realtarget opened #26 "Not rendering configuration"
Hey there,

i'm currently testing laravel-trix as a new editor for my webapp. Unfortunately the custom configuration is not rendering as expected.

Blade:
[code]

Generated HTML:
![grafik](https://user-images.githubusercontent.com/4380964/75966694-098f9c00-5ecb-11ea-8dee-be605c833bc8.png)

Output:
![grafik](https://user-images.githubusercontent.com/4380964/75967316-ea453e80-5ecb-11ea-89d6-38b55bf1

[2020-03-06 15:33] #26 closed

[2020-03-06 15:34] Te7a-Houdini commented on #26
@realtarget should be fixed in version 2.0.1

[2020-03-08 18:57] smdimagerie opened #28 "Render output"
Is there an easy way to render the content of the editor (outside of a form) ?

[2020-03-08 19:00] smdimagerie opened #29 "File upload issue"
I can't get file upload working (the rest is working fine) Am I doing something wrong?

In the blade file
[code]

In the controller
[code]

In the Model

[code]

[2020-03-08 22:07] Te7a-Houdini commented on #29
@smdimagerie do you mean file upload outside trix editor or inside trix editor ?

[2020-03-08 22:09] Te7a-Houdini commented on #28
@smdimagerie try ``` dd($post->trixRichText->content);```

[2020-03-09 12:02] smdimagerie commented on #29
inside the editor; when I upload a photo it shoes in the editor. But when I press save, the file is not added to the storage. So then I re open the content of the editor I get a broken image.

[2020-03-09 12:22] smdimagerie commented on #28
It did not work...

but I did ad a new method to the post Model

[code]
and render using

` {!! $post->trixRender("content") !!}`

[2020-03-09 21:46] Te7a-Houdini commented on #28
@smdimagerie probably i will try to add a method or document how to get the plain content outside trix editor

[2020-03-09 21:52] Te7a-Houdini commented on #29
@smdimagerie are you sure that storage configurations are correct ?

[Storing Attachment](https://github.com/Te7a-Houdini/laravel-trix#storing-attachment)

[2020-03-11 19:29] smdimagerie commented on #29
Ok found some issues (i'm on a windows machine, but I guess that applies to unix based system)

TrixAttachmentController.php
`$attachment = $request->file->store('/', $request->disk ?? config('laravel-trix.storage_disk'));`;

why is there a slash? Removing it made me store the file
`$attachment = $request->file->store($request->disk ?? config('laravel-trix.storage_disk'));`;

-----------

Now I'm

[2020-03-11 19:37] smdimagerie commented on #29
Splitted
`$url = Storage::disk($request->disk ?? config('laravel-trix.storage_disk'))->url($attachment);`

as
[code]

[2020-03-11 22:18] Te7a-Houdini commented on #29
@smdimagerie ok cool i will close it since it's fixed now

[2020-03-11 22:18] #29 closed

[2020-03-17 16:31] snapey commented on #28
`trixRichText()` is a morphMany relationship, so

    $post->trixRichText->content

cannot work.  You need to add `first()` in there as well

[2020-03-17 20:18] Te7a-Houdini commented on #28
@snapey thanks for the help

[2020-03-26 20:33] xphoenyx commented on #20
Joining the question. The documentation is indeed quite unclear about storing values coming from editor. In my case, I'm not using mass assignment so I have to discover custom approaches how to insert value into model property as it is forbidden to use dashes in properties:
[code]
Yep, I still can use `Model::fill()` to fill in that special attributes, but I had no luck doing that way either.

[2020-03-26 21:15] xphoenyx commented on #21
@leifermendez your approach won't work if you try to use any sort of HTML string as `setValue` argument. In order to insert a string with lots of special chars into Trix text box, you must do some weird stuff like that:

[code]

[2020-03-26 22:18] Te7a-Houdini commented on #20
@xphoenyx thanks alot for helping . if there's something not clear can you make a PR about it

[2020-03-31 08:52] harshuchilzy commented on #21
{!! Form::hidden('content', null, ['class' => 'form-control', 'id' => 'emailTemplate']) !!}
    <trix-editor input="emailTemplate"></trix-editor>

use like the above.
Trix method is not working properly when editing the existing data
@trix(\App\Article::class, 'title')

[2020-04-04 09:11] nicoja opened #30 "Package abandoned"
Hi,

when installing the package, here are the warning :

[code]

Should be nice to change,

Nicolas

[2020-04-04 11:33] Te7a-Houdini commented on #30
@nicoja thanks a lot for mentioning. but i think it's used from laravel/framework

[2020-04-04 11:33] #30 closed

[2020-04-09 16:38] lucyyfer opened #31 "UUID Support"
There currently doesn't seem to be a way (or at least an easy way) to use UUIDs. I use UUIDs throughout all of my systems and it's a shame that I can't use UUIDs for the two tables that this package generates as UUIDs need to be generated instead of using a prebuilt database function.

[2020-04-09 16:58] Te7a-Houdini commented on #31
@lucyyfer thanks for the suggestion i will take a look at that .

but for the current time there's a long solution. which is modifying the migration files and override the Models then Override the [HasTrixRichText Trait](https://github.com/Te7a-Houdini/laravel-trix/blob/master/src/Traits/HasTrixRichText.php#L31)

[2020-04-29 07:51] dvlpr91 commented on #22
Hey!!!!!!!!

fixed in v2.0.0.

But, it came back again in v2.0.1.

why?

[2020-04-29 08:21] Te7a-Houdini commented on #22
@dvlpr91 it caused this issue #26

[2020-04-29 09:09] dvlpr91 commented on #22
Did you change only "of" to "in"?

I am not good at English, so please understand that I am using a translator.

I write the code for normal operation below as much as possible.

[code]

TO

[code]

I didn't check, but I simply wrote the code, thinking about the difference between "in" and "of" in javascript.

Try it.

[2020-04-29 09:13] Te7a-Houdini commented on #22
@dvlpr91 no problems . ok i got it now . i will reopen the issue and we can convert to normal for loop

[2020-04-30 10:56] rabol opened #32 "trix values does not get saved"
My Model is like this:

[code]

blade like this:

[code]

Controller like this:

[code]

nothing get save to the DB

[2020-04-30 15:33] Te7a-Houdini commented on #32
@rabol can you try to remove the $fillable from your model

[2020-04-30 16:25] rabol commented on #32
its is not in my fillable

but... I managed to get it working by adding
form-trixFields to the $fillable

[2020-04-30 16:27] Te7a-Houdini commented on #32
@rabol  ok cool i will close the issue since it's fixed

[2020-04-30 16:28] rabol commented on #32
No, it's not fixed, it's a work-around.
According to the documentation one should not add the field to the $fillable

[2020-04-30 16:30] Te7a-Houdini commented on #32
@rabol if you removed $fillable totally and set $guarded as [] it should work

[2020-04-30 16:32] rabol commented on #32
hm... I'll find another solution as $fillable is a 'Laravel' think I like for serurity

[2020-04-30 16:37] Te7a-Houdini commented on #32
@rabol ok got it i think we will need to add this to the documentation

[2020-05-12 05:30] A1Gard opened #33 "Trix toolbar not working at all."
Hello
Thanks for developing this package.

![image](https://user-images.githubusercontent.com/9222481/81638461-893b6900-942e-11ea-9fe1-37cba953bfec.png)
I seen editor but not work.

Usage information:

[code]
Any error in browser console.

An investigation:

when I comment this line everything gone fine:
`window.$ = window.jQuery = require('jquery');`

What's problem with jquery?

[2020-05-21 15:41] kiritokatklian commented on #33
Same issue here. Toolbar buttons don't work and there are no errors in the console.

@A1Gard Have you found a fix for this issue?

[2020-05-21 15:45] Te7a-Houdini commented on #33
@A1Gard am not sure why this problem happened with jquery

@kiritokatklian is it happening with you also using jquery ?

[2020-05-21 22:42] kiritokatklian commented on #33
@Te7a-Houdini Yes, it's being used through Bootstrap. In my case, commenting it out doesn't fix the issue.

[2020-05-22 10:29] kiritokatklian commented on #33
So I was able to get it to work after commenting out [axios](https://github.com/axios/axios), which apparently was preventing Trix from adding event listeners to the `trix-toolbar` element.

I tried to investigate what's causing the issue on axios side, but unfortunately I couldn't find anything.

[2020-05-25 01:11] EricPaulson opened #34 "No documentation for saving a post that already exists using update()"
Let's say I create a new Post using Trix editor, and it works great (it does). However, I'm having trouble understanding out to save an existing Post.

Post::create() utilizes the editor perfectly, and the text shows up in trix_rich_texts.

However, when I do an update(), it rightly complains that the trix-specific fields don't exist. How do you edit the trix data?

[2020-05-25 01:20] EricPaulson commented on #34
I think I have just figured it out. It looks like I just need to add

`'flyer-trixFields' => request('flyer-trixFields'),`

To my update statement, and then it saves properly.

[2020-05-25 12:06] Te7a-Houdini commented on #34
thanks  @EricPaulson  and you are right .

[2020-05-26 12:47] SDevogele opened #35 "@trixassets not parsing"
Hi,

I've been able to use this package successfully on my local machine, but I can't get it to work on a shared server. It seems like blade isn't detecting @trixassets as a directive. It just echoes @trixassets at the top of the page.

I've double checked the files I've uploaded to the server. I've also uploaded the vendor folder.

I'm probably just doing something wrong, but could someone please

[2020-05-26 19:06] Te7a-Houdini commented on #35
@SDevogele have you tried other blade directives on this shared server like @if or @foreach?

[2020-05-27 05:31] SDevogele commented on #35
Yes, that's the weird thing. It seems like Laravel is just not recognizing @trixassets.

[2020-06-02 15:15] SDevogele commented on #35
I've investigated this further, but I'm baffled.

So it works on one of my local machines, but not on my second local machine, and not on the shared server.

If I compare both my local machines, I don't see any difference: they run the same PHP version and as far as I know, the PHP settings should be the same on both machines.

Laravel is detecting all blade directives on all my machines, except j

[2020-06-02 15:17] Te7a-Houdini commented on #35
@SDevogele have you tried to clear any cached views using . **php artisan view:clear**

[2020-06-02 15:54] SDevogele commented on #35
Hi,

That did the trick on my second local machine, where it now works.

However, on the shared server, it still doesn't work. I used this piece of code:

`Artisan::call('cache:clear')`

I've also deleted the files in storage/framework/views.

Still no luck, however.

[2020-06-02 16:16] Te7a-Houdini commented on #35
@SDevogele actually i don't know why it doesn't work on shared server . but since it's working locally then i think it's not a problem of the package .

but make sure that the package is installed on the shared server . maybe it's not installed

[2020-06-03 05:45] SDevogele commented on #35
Yes, I see the package is in the vendor folder. I also have the configuration file in the config folder.

It's a shame I can't get it to work on the shared server. It seems like a very decent package, but I'm afraid there's no other option than uninstall it.

Anyway, thanks for your help.

[2020-06-03 09:23] Te7a-Houdini commented on #35
@SDevogele thanks and good luck .

[2020-06-03 09:23] #35 closed

[2020-06-03 10:08] kiritokatklian commented on #33
@Te7a-Houdini So I've been playing around with Trix again and found out that it doesn't work well with VueJS. I'm assuming it's because they both listen to DOM changes. When you intentionally cause an error in VueJS (so it doesn't load properly), Trix works perfectly.

To fix this issue and have both working trix.js needs to load after VueJS has loaded by adding the `defer` attribute to the trix.j

[2020-06-04 12:32] Te7a-Houdini commented on #33
fixed in #36

[2020-06-04 12:32] #33 closed

[2020-06-04 12:33] #20 closed

[2020-06-07 04:00] manshu commented on #21
This package doesn't have much support. I am also looking for edit method.

[2020-06-07 04:03] Te7a-Houdini commented on #21
@manshu feel free to PR edit method or fork your own repo

[2020-06-07 04:05] manshu commented on #21
@Te7a-Houdini What's the point of creating a package which is half baked. I could have used Vue instead. This is what frustrates me sometimes. I don't have time to do a PR, im just trying to finish this project, and now i've to undo everything.

[2020-06-07 04:07] manshu commented on #28
I fixed this ``` $post->trixImageRender('content') ``` for images too.

Following is my code.

[code]

[2020-06-07 04:09] Te7a-Houdini commented on #21
@manshu I created the package to solve my use case at first place then shared it with other developers. If it's half backed then either to PR the missing points or fork your own . But don't expect from open source maintainers to do your work when you don't have time

[2020-06-07 04:12] manshu commented on #21
@Te7a-Houdini  Dude, there is no point in arguing. All i am saying is, it's not useful, unless there is a full crud methods. I understand your efforts, but i watched the video you created and fall into a trap. Undoing everything is just frustrating.

[2020-06-11 22:05] smeetsh opened #37 "columnname/atribute name post-trixField causes problems with JS"
HI Achmned as requested im am mentioning thos on github. The field created by the editor in the database is named: post-trixFields ( the same problem arises for the attachments) . Because a hypen (-) is used in the fieldname instead of "_" this causes havoc with JS (and thus angular and I assume reactJS as well), because a hypen is an operator so JS will try to deduct trixField from post, which of

[2020-06-12 02:45] Te7a-Houdini commented on #37
@smeetsh thanks for reporting that out .

the -trixFields is appended in multiple places. [AttachementInput](https://github.com/Te7a-Houdini/laravel-trix/blob/master/src/Pipes/AttachmentInput.php#L13) [Input](https://github.com/Te7a-Houdini/laravel-trix/blob/master/src/Pipes/Input.php#L13)
[HasTrixRichText](https://github.com/Te7a-Houdini/laravel-trix/blob/master/src/Traits/HasTrixRichText.php#L19

[2020-06-16 12:22] lartisan commented on #28
Hello, is there a way to render the images without being wrapped in an anchor tag? Also, is it possible to hide the caption for the image? Thanks.

<img width="833" alt="Screenshot 2020-06-16 at 15 20 41" src="https://user-images.githubusercontent.com/7920412/84773394-05ecd480-afe5-11ea-933c-1c8f1a1b19b4.png">

[2020-06-23 14:57] lparede opened #38 "Dedicated folders for styles and scripts assets"
Please create dedicated folders for styles and scripts assets. (e.g. /dist/css, /dist/js), so it can be possible to load assets with webpack.

In my case, loading the assets with blade directive makes the trix toolbar buttons to be unresponsive.

[2020-07-09 06:47] Crazzz0ne commented on #28
You can just do something like this in the controller:
`
$imgUrl = $data->url;
	return view('someimagep-page', compact('imgUrl'));

<img src="{{$imgUrl}}">`

[2020-07-20 12:41] AhmedRamadan30 opened #39 "trix_rich_texts table is not affected"
### Salam
**Thank you for this beautiful package**
I got a Confusing problem When I add a post, the trix_rich_texts does not store a new record, it still empty and so I cannot store or show the Irish text content
I will attach every part from code here
![1](https://user-images.githubusercontent.com/56490896/87938461-eb4fc480-ca96-11ea-8d67-972e7ae56aa6.PNG)
![2](https://user-images.githubuserconte

[2020-07-20 17:51] Te7a-Houdini commented on #39
hey @AhmedRamadan30  so you are facing two problems as follow :

- first one is the rich text editor isn't shown
-  second one is when storing you find the table is empty
right ?

[2020-07-21 18:10] mhansen-upscale commented on #39
Hey! I have the exact same issue. Everything works like a charm except storing into database.

[2020-07-21 18:12] Te7a-Houdini commented on #39
@mhansen-upscale can you show me a screenshot of your Model that uses HasTrixRichText

[2020-07-21 18:15] mhansen-upscale commented on #39
This is the model

<img width="714" alt="Bildschirmfoto 2020-07-21 um 20 14 38" src="https://user-images.githubusercontent.com/68611164/88091119-e706d280-cb8e-11ea-9665-304d4bed6878.png">

[2020-07-21 18:18] Te7a-Houdini commented on #39
@mhansen-upscale try to remove $fillable . and use $guarded = [];

[2020-07-21 18:19] mhansen-upscale commented on #39
great, that worked, thanks. Whats wrong with fillable at this point?

[2020-07-21 18:21] Te7a-Houdini commented on #39
@mhansen-upscale i think nothing wrong . can you try to add content-trixFields to the fillable and check it too

[2020-07-21 18:23] mhansen-upscale commented on #39
perfect, works as well!

[2020-07-21 18:25] Te7a-Houdini commented on #39
cool . @AhmedRamadan30 i think the fix for your issue is same as approve .

either set $guarded = []; . or add the field to fillable

[2020-07-21 18:25] #39 closed

[2020-07-22 09:40] AhmedRamadan30 commented on #39
I tried all solutions,
1 - ```protected $guarded = [];```
2 - ```protected $fillable = ['title', 'post-trixFields'];```
3 - ```protected $fillable = ['title', 'content-trixFields'];```
4 - ```protected $guarded = [];```
    ```    protected $fillable = ['title', 'post-trixFields'];```
after all, the `trix_rich_texts` table does not store a new record

[2020-07-22 09:43] Te7a-Houdini commented on #39
@AhmedRamadan30 have you tried to do  **dd(request()->all())** inside the controller and see how the data look like

[2020-07-22 09:54] AhmedRamadan30 commented on #39
Thanks, I found the problem, I typed the model name incorrectly (I typed Event instead of Post) and that's because I made a separated project to test Trix. and in the original project, the model name was "Event"

[2020-07-22 10:04] AhmedRamadan30 commented on #39
I face another problem in showing images upload. the images are uploaded successfully and saved in ```Storage/public```
but when I show the whole article, images are not shown.  Why its link is ``` Storage/image_name``` , not ```Storage/public/image_name```?
![1](https://user-images.githubusercontent.com/56490896/88163709-5f16dc00-cc13-11ea-980c-2e8be3ea5dc6.PNG)
![2](https://user-images.githubuse

[2020-08-21 08:43] mattgroom commented on #34
Hi - I'm having the same problem.  I've already added it to my update but it still gives me the message "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'cmspage-trixFields' in 'field list' "

**My code is:**
`$cmspage = new Cmspage;

        $cmspage::where('id', $id)
            ->update([
            'cmspage_id' => $request->cmspage_id,
            'category' => $request->category,

[2020-08-21 08:56] Te7a-Houdini commented on #34
hey @mattgroom can you post your Cmspage model how it look like

[2020-08-25 10:12] mattgroom opened #40 "Soft deleting trix_rich_texts and trix_attachments for a model"
Hi

Just working on deleting records from one of my models, but notice that when soft deleting an entry, it doesn't cascade down and soft delete the entries in the trix database tables for the model I soft deleted.  I couldn't see anything in the documentation about deleting records, so wanted to ask if I need to setup foreign keys on the tables so there is a link between entries to cascade down,

[2020-08-25 12:49] mattgroom commented on #28
I've also had trouble being able to display the output of the trix content.  I've tried the code option at https://github.com/amaelftah/laravel-trix/issues/28#issuecomment-640153818 and have added this into my model, but I keep getting the error message "Trying to get property 'content' of non-object (View: ...."

My model code is:
`<?php

namespace App;

use Illuminate\Database\Eloquent\Model;
us

[2020-08-27 11:20] amaelftah commented on #40
hey Matt

i don't think you will need to add foreign keys .  you can do this $post->trixRichText()->delete(); and this will permanetly delete the trix record

[2020-08-27 11:25] mattgroom commented on #40
amazing - many thanks, I'll give that a go. Much appreciated - the trix package as worked great for the project.  Thanks again!

[2020-08-27 11:31] amaelftah commented on #40
glad you found it useful :relaxed:

[2020-09-08 09:31] mattgroom opened #41 "Is it possible to add options to toolbar for font colour and more heading sizes?"
Hi

I've been trying to find if there is a way to add a couple of font colours to select from and a couple of different size headings (h1/h2/ h3).  I can see how you can hide certain options in the toolbar, but is there a way to add more functionality such as the font colours etc?

Any advice greatly appreciated.

Many thanks

[2020-09-08 11:34] gzwanepoel2020 opened #42 "Uploading attachements not working"
When uploading a new attachement I get the following error:
Uncaught (in promise)

When content flield with an attachement or adding a new attachement I get:
Uncaught TypeError: Cannot set property 'attachment' of null

[2020-09-09 19:21] pbrisson opened #43 "Routes not defined"
Hi there.

Installed last version on top of Laravel 5.8.

I'm getting:

`Route [laravel-trix.destroy] not defined. (View: /vendor/te7a-houdini/laravel-trix/resources/views/trixassets.blade.php) (View: /vendor/te7a-houdini/laravel-trix/resources/views/trixassets.blade.php) (View: /vendor/te7a-houdini/laravel-trix/resources/views/trixassets.blade.php)`

[2020-09-09 19:40] pbrisson commented on #43
Hrm... must have been something else. After clearing cache and running

`php artisan optimize`

... they're now working.

Thanks!

[2020-09-09 19:40] #43 closed

[2020-10-03 10:51] Aless55 commented on #41
I am supporting this request. Especially the one for the different header sizes. It would also be great if one could include <hr> tags as separation lines.

[2020-10-05 19:41] Domenikus opened #45 "Support for Laravel translateable"
Support for Laravel translateable would be nice. https://github.com/spatie/laravel-translatable

[2020-10-12 02:44] xitox97 opened #46 "Possible to load old value in the content?"
When there is error in validation, I want to show the old value inside the trix content. Is there any way to do this?

[2020-10-18 19:46] jeremyhodges commented on #46
Trying to do the same.

[2020-10-28 09:12] cobraprojects opened #47 "how to embed a youtube video?"
is the a way to embed html iframe
thanks

[2020-11-12 10:42] teodoriu commented on #46
i made a pull request https://github.com/amaelftah/laravel-trix/pull/48

[2020-11-12 10:49] amaelftah commented on #46
closed in #48

[2020-11-12 10:49] #46 closed

[2020-11-25 17:23] philwilliammee commented on #41
You can override the toolbar with some thing like the code below. The only issue I am having is trix expects a specific loading order and the defer on the script in resources/views/trixassets.blade.php is causing a issue. The html is loading before trix so the the toolbar isnt loading all of the new config

[code]

[2020-12-16 20:27] franshoekstra commented on #28
For anyone having the same issue.
To get the content into the view for a normal visitor, this seems to work:
`{!! $ridingarena->trixRichText->first()->content !!}`

[2021-01-07 18:40] kasirye opened #50 "PHP 8.0.0 Compatibility"
Hi, Package te7a-houdini/laravel-trix has a PHP requirement incompatible with  PHP 8.0.0

[2021-01-09 00:32] kasirye commented on #50
Having a challenge running this trix package on Laravel 8 php8.0.0. Kindly requesting for assistance

[2021-01-14 12:25] log2e commented on #50
Same problem here (PHP version 8.0.1). On installation I get this error message:

[InvalidArgumentException]
Package te7a-houdini/laravel-trix has a PHP requirement incompatible with your PHP version, PHP extensions and Composer version

[2021-01-20 18:48] camya opened #51 "Add CSS class to Trix container? For TailwindCSS"
Hello,

I try to pass Tailwind CSS classes to the surrounding span (or div). Example: "col-span-6 sm:col-span-4"

I have to accomplish the following output.

`<div class="col-span-6 sm:col-span-4" id="container-invoice-summary_markup-3" v-pre=""> `

Is this possible?

I saw that I can configure the @trix(), but unfortunately I can only change the containerElement. (span/div)

[2021-01-20 18:51] camya commented on #51
I found a way to pass the CSS classes, but I'm not sure, if this is the intended way. :)

`@trix(\App\Post::class, 'content', ['containerElement' => 'div class="col-span-6 sm:col-span-4"']])`

Maybe you can add the info to the documentation.

[2021-01-20 23:47] Donotavio commented on #50
Should not be added to composer.json ```"require": {
        "php": "^7.3|^8.0"}```

[2021-01-21 00:49] Donotavio commented on #50
Follow pull request -> https://github.com/amaelftah/laravel-trix/pull/52

[2021-01-21 01:57] Donotavio commented on #50
@kasirye @log2e pull request merged :)

[2021-01-21 17:18] ai2025 commented on #32
![issue](https://user-images.githubusercontent.com/22134120/105386251-c6572c80-5c46-11eb-8474-a418013a3d1a.PNG)

idk why but i have this problem.. ive set my models with $guarded[] but they didn't want to detect it as 'content' column

here is my model

`<?php

namespace App;

use Illuminate\Database\Eloquent\Factories\HasFactory;
use Illuminate\Database\Eloquent\Model;
use Te7aHoudini\LaravelTrix

[2021-01-23 14:00] ai2025 commented on #28
![image](https://user-images.githubusercontent.com/22134120/105580242-c3cb1300-5dbd-11eb-8f09-0e3e58521410.png)

Excuse me, idk why this thing happened but the image is showing the wrong url, may I know how to solve it? I've tried some code above in this discussion but it doesn't  work.. Thanks

[2021-02-03 17:54] kevin-xyz2002 opened #53 "Keep getting model_id constraint violation when saving"
Do exactly what you described...but keep getting this
SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'model_id' cannot be null (SQL: insert into `trix_rich_texts` (`model_id`, `model_type`, `field`, `content`, `updated_at`, `created_at`) values......

What can be the problem?

Thanks,

[2021-03-20 11:25] fozoholiver1 opened #54 "laravel trix images"
my images are not centralized, they are all aligned to the left of my browser, please what can i do, am running PHP 7.4 and laravel 8

[2021-03-29 10:09] #22 closed

[2021-03-29 22:44] betopicapiedra opened #55 "Adjust controls"
### **_How could I adjust these controls so they don't overflow my modal?_**
----------------------------------------------------------------------------------
![2021-03-29_16h34_36](https://user-images.githubusercontent.com/5233084/112908817-7a44c000-90ad-11eb-819b-f0ce6b1c97b9.png)
----------------------------------------------------------------------
I am using Tailwind CSS and Laravel 8
------

[2021-04-01 23:05] jefferose opened #56 "Creating Posts in Factory"
In my factory, I'm creating 10 posts and most everything is working, but the Trix "field" column is set ot 0 instead of "content" as it is when I create a post via the UI.

`
            'post-trixFields' => $this->faker->paragraphs(1),
`
I'm sure it's simple, but I haven't figured out how to set the column properly. Since it's a seed/factory I don't need it too often, but it'd be nice to understa

[2021-04-16 23:57] jefferose commented on #56
This seemed to be the solution
`['content' => $this->faker->paragraphs(1, true)]`

[2021-04-16 23:57] #56 closed

[2021-05-12 07:29] dev-techguy opened #57 "Upgrade Needed"
Problem 1
    - te7a-houdini/laravel-trix[2.0.0, ..., 2.0.4] require php ^7.1 -> your php version (8.0.5) does not satisfy that requirement.
    - Root composer.json requires te7a-houdini/laravel-trix ^2.0 -> satisfiable by te7a-houdini/laravel-trix[2.0.0, ..., 2.0.4].

[2021-06-02 14:35] mehdiyaq opened #58 "the Store Function in PostController doesn't save content"
migration:
   Schema::create('posts', function (Blueprint $table) {
            $table->id();
            $table->timestamps();
        });

        model:
            use HasTrixRichText;

    protected $guarded = ['id'];

    View:
            <form action="{{ route('trix.store') }}" method="post">
            @csrf
            <div class="my-5" >
                @trix(\App\Post::class, 'content

[2021-06-03 11:10] #58 closed

[2021-06-03 11:42] mehdiyaq opened #59 "Retrieving Data"
How to All Posts without TrixEdtior
    @foreach(\App\Models\Post::all() as $post)
        <p>@trix($post, 'content')</p>
    @endforeach

    this code show and Loop TrixEditor on top of all Posts !

[2021-06-03 12:06] #59 closed

[2021-06-05 10:31] mehdiyaq opened #60 "How to get image from changed disk"
I have changed the image disk as and works fine:

'storage_disk' => env('LARAVEL_TRIX_STORAGE_DISK', 'trix'),
        'trix' => [
            'driver' => 'local',
            'root' => public_path('trix'),
        ],

But, in retrieving the data :
 <p>{!! $post->trixRichText->first()->content !!} </p>

it shows just the name of the image as a link, by click on it, goes to something like:
http://12

[2021-06-09 10:57] matthiasvanwoensel opened #61 "Is it possible to have a default text in editor"
I can't find a way to add a default value to the editor, is there any way?

[2021-06-17 06:40] raj-chef commented on #53
@kevin-xyz2002  I am getting the same error, did you find any solution for the same ?

[2021-07-11 08:55] surencool4 opened #62 "Problem Storing Rich Text Fields and attachments with livewire"
create.blade.php
<x-jet-dialog-modal  wire:model="modalFormVisible">
        <x-slot name="title">
            {{ __('Save Page') }}
        </x-slot>

        <x-slot name="content">
            <div class="mt-4">
                <x-jet-label for="title" value="{{ __('Title') }}" />
                <x-jet-input id="title" class="block mt-1 w-full" type="text" wire:model.debounce.800ms="title" />

[2021-08-03 23:09] wpa12 commented on #38
i want to know how to style the output for my case study module i'm building, there is nothing in the docs about styling the output at all

[2021-10-15 22:01] Majidkadi commented on #62
Hi,
I think you have an error in your code.
'attachment-post-trixFields' => request('attachment-post-trixFields')
I guess it should be 'page' like this:
'attachment-page-trixFields' => request('attachment-page-trixFields')

[2021-10-31 16:02] PetroGromovo opened #63 "Is it possible to show buttons of toolbar in 2 or 3 rows depending on current device?"
Working with te7a-houdini/laravel-trix 2.0.5 In Laravel 8 / tailwindcss: 2.2  I wonder is there is a way to show

buttons of toolbar in 2 or 3 rows depending on current device?
The thing is that these buttons break page layout on small/medium devices ?

Thanks in advance!

[2021-11-24 21:24] sergeynilov opened #64 "How to insert into editor image links ?"
Hi, if there is a way to insert into editor image links from laravel storage or from external links?
Also I would prefer to tie these images with spatie/laravel-medialibrary models.
If such functionality possible, please link to example.

[2021-11-24 21:24] sergeynilov opened #65 "How to insert into editor image links ?"
Hi, if there is a way to insert into editor image links from laravel storage or from external links?
Also I would prefer to tie these images with spatie/laravel-medialibrary models.
If such functionality possible, please link to example.

[2022-01-12 04:03] mas-iybaz commented on #61
Hi @matthiasvanwoensel, I had the same problem for this, and i used this way to solve the problem. hopefully this information helps you.
You can use 'id' on $config:
`@trix(\App\Post::class, 'body', ['id' => 'trix-body'])`

and then you can add a default value to the editor using javascript:
`<script>
    const trixBody = document.querySelector('#trix-body');
    trixBody.value = "This is a defaul

[2022-01-17 12:52] ighmouraceneb opened #66 "updated version trixAsset 1.2.0 to v 1.3.1"
I want to update the trix assets to the latest version (1.3.1). Is there a way to do this in the config. or just replace
[code]
through
[code]

[2022-03-25 13:16] rocordial opened #68 "Insert local links"
Is there a posibility to ad local links in the content?

For example I'd like to insert a link to /documents section of the site instead of http://localhost/documents.

Thank you for this great package.

[2022-04-07 07:45] nadeem706 commented on #47
@cobraprojects have you embedded youtube video ?

[2022-05-04 10:29] IhsanDevs opened #69 "Integrated With Livewire"
Does this library support Livewire? If so, how to integrate it? Because this is not in the documentation.

[2022-06-07 11:26] nadeem706 opened #70 "load old value with embedded image in trix"
Hi All,
I am able to retrieve old data without embedded images
![Screenshot_196](https://user-images.githubusercontent.com/88528766/172367142-8cc6086b-519f-4116-8979-9c9b52abab2a.png)
data value
`{"_token":"lg8BfOjjTKVyCUhWhYNt0bKoXiYj6tJGBbVTFSig","customermessage-trixFields":{"content":"<div><strong>sdsdsdsd<br><\/strong><strong><del>sdsdsdsd<br><\/del><\/strong><strong><em><del>sdsds<\/del><\/e

[2022-06-21 09:12] roarkmccolgan opened #71 "Is there a way to use this version in Laravel Nova?"
Hi There

Is there a way to use this version in Laravel Nova?

Thanks!

[2022-08-22 04:37] hugoaf commented on #69
See this example:
https://github.com/jackoftraits/laravel8-with-livewire/blob/734a1e3a13253a5fd2b0ab7dd6acf63dab51de0d/resources/views/livewire/pages.blade.php#L109-L119

[2022-08-22 04:41] IhsanDevs commented on #69
okay. thankyou for the response. I will try it